@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One|Roboto+Mono:400,700&display=swap');

:root {
  --color-primary: #082f61;
  --color-secondary: #4898d3;
  --color-dark: #4898d3;
  --color-light: #4898d3;
  --font-family-primary: 'Roboto Mono', monospace;
  --font-family-secondary: 'Rubik Mono One', sans-serif;
  
  // Global transition values
  --td: 150ms;
  --te: cubic-bezier(0.215, 0.61, 0.355, 1);
}

// ========================
// Global elements
// ========================

html, body {
  height: 100%;
}

body {
  color: var(--color-dark);
  font-family: var(--font-family-primary);
  overflow-x: hidden;
  position: relative;
  background-image: url();
    background-size: full;
    
    
    
    height: 200vh;
    padding:0;
    margin:0;
}

h1 {
  font-size: calc(1.5rem + 4vmin);
  font-weight: 700;
  margin-bottom: 2rem;
  
    font-family: var(--font-family-secondary)
    ;
    font-stretch: semi-expanded;
    color:#4898d3;
    font-size: 50px;
      padding-top: 20px;
  display: flex;
  display: flex;
  flex-direction: column;
  min-height: 1vh;
  justify-content: center;
  margin: 0 auto;
  max-width: 55rem;
  padding: 1rem;
  
  > * + * {
    margin-top: 1.5rem;
  }
  
  
  
 
  z-index: 2
    ;

}

p {
  line-height: 1.4;
}

a {
  font-weight: 700;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  margin: 0 auto;
  max-width: 55rem;
  padding: 1rem;
  
  > * + * {
    margin-top: 1.5rem;
  }
}

// ================================
// Main navigation
// ================================

.nav-main {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: -100%;
  position: fixed;
  transition: 
    left 0s calc(var(--td) * 2),
    transform 0s calc(var(--td) * 2);
  width: 100%;
  
  &::before,
  &::after {
    content: '';
    background-color: var(--color-primary);
    height: 50%;
    left: 0;
    position: absolute;
    transform: translateX(-110%);
    transform-origin: 0 50%;
    transition: transform calc(var(--td) * 2) var(--td) var(--te);
    width: 100%;
    z-index: -100;
  }
  
  &::before {
    top: 0;
  }
  
  &::after {
    bottom: 0;
  }
  
  .menu__item {
    opacity: 0;
    transform: translateX(-1rem);
    transition: 
      opacity var(--td) var(--te),
      transform var(--td) var(--te);
  }
}

// ================================
// Main navigation toggle
// ================================

[id="main-navigation-toggle"] {
  opacity: 0;
  position: fixed;
  top: -100%;
  
  ~ label {
    cursor: pointer;
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 100;
    
    span {
      display: block;
      height: 2rem;
      padding: 0.5rem;
      position: relative;
      transition: transform calc(var(--td) * 3) var(--te);
      width: 2rem;
      
      &::before,
      &::after {
        background-color: var(--color-dark);
        bottom: 0;
        content: '';
        height: 4px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        transition: transform calc(var(--td) * 3) var(--te);
        top: 0;
        width: calc(100% - 1rem);
      }

      &::before {
        transform: rotate(0) translateY(-100%);
      }

      &::after {
        transform: rotate(0) translateY(100%);
      }
    }
  }
}

// ================================
// Main navigation toggle:checked
// ================================

[id="main-navigation-toggle"]:checked ~ label {
  span {
    transform: rotate(1turn);

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

[id="main-navigation-toggle"]:checked ~ .nav-main {
  left: 0;
  transition: transform 0s;
  
  &::before,
  &::after {
    transform: translateX(0);
    transition-delay: 0s;
  }
  
  &::after {
    transition-delay: calc(var(--td) / 2);
  }
  
  .menu__item {
    opacity: 1;
    transform: translateX(0);
    transition: 
      opacity calc(var(--td) * 2) var(--te),
      transform calc(var(--td) * 2) var(--te);
  }
  
  @for $i from 1 through 5 {
    .menu__item:nth-child(#{$i}) {
      transition-delay: calc(var(--td) * 2 * (#{$i} * 0.25));
      z-index: $i * -1;
    }
  }
}

// ================================
// Menu
// ================================

.menu {
  position: relative;
  text-align: center;
  z-index: 1;
  
  > .menu__item {
    font-family: var(--font-family-secondary);
    font-size: 10vmin;
  }
}

// ================================
// Submenu
// ================================

.submenu {
  left: 0;
  opacity: 0;
  position: absolute;
  transform: translateY(-10%);
  top: 100%;
  width: 100%;
  visibility: hidden;
  z-index: 2;
  
  .menu__item {
    font-family: var(--font-family-primary);
    font-size: 3.5vmin;
    width: 100%;
  }
  
  .menu__link {
    color: var(--color-secondary);
    text-shadow:
      1px 1px 0 var(--color-primary),
      2px 2px 0 var(--color-primary);

    &::before,
    &::after {
      display: none;
    }
  }
}

// ================================
// Menu item
// ================================

.menu__item {
  display: block;
  position: relative;
  
  &:hover .menu__link {
    &::before,
    &::after {
      animation: blink 1s var(--td) steps(1, end) forwards infinite;
      transform: translateX(calc(100% - 0.5rem));
      transition-duration: calc(var(--td) * 3);
    }
    
    &::after {
      transition-delay: calc(var(--td) / 2);
    }
  }
  
  &:hover .submenu {
    opacity: 1;
    transform: translateY(0);
    transition: 
      transform calc(var(--td) * 2) calc(var(--td) * 3) var(--te),
      opacity calc(var(--td) * 2) calc(var(--td) * 3) var(--te),
      visibility 0s calc(var(--td) * 3);
    visibility: visible;
  }
}

// ================================
// Menu link
// ================================

.menu__link {
  color: var(--color-dark);
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  padding: 0.5rem 1rem 0.125rem;
  position: relative;
  text-decoration: none;
  transition: 
    color var(--td) var(--te),
    opacity var(--td) var(--te),
    transform var(--td) var(--te);
  z-index: 1;
  
  &::before,
  &::after {
    content: '';
    background-color: var(--color-light);
    height: 50%;
    left: 0;
    position: absolute;
    transform: translateX(-110%);
    transform-origin: 0 50%;
    transition: transform 0s var(--te);
    width: 100%;
    z-index: -1;
  }
  
  &::before {
    top: 0;
  }
  
  &::after {
    bottom: 0;
  }
}

// ================================
// Menu item hover styles
// ================================

.menu:not(:focus-within):not(:hover) .menu__item {
  .menu__link { 
    opacity: 1;
    transform: translate(0, 0);
  }
}

.menu__item {
  --pull: 30%;
  
  .menu__link {
    opacity: 0.25;
    transition-duration: calc(var(--td) * 3);
    transform: translate(0, calc(var(--pull) * -1));
  }
  
  .submenu .menu__link {
    opacity: 1;
  }
  
  &:hover > .menu__link {
    color: var(--color-secondary);
    opacity: 1;
    transform: translate(0, 0);
    
    &:hover {
      color: var(--color-light);
      transition-delay: 0s;
    }
  }
  
  &:hover ~ .menu__item > .menu__link {
    transition-duration: calc(var(--td) * 3);
    transform: translate(0, var(--pull));
  }
}

// ================================
// Animations
// ================================

@keyframes blink {
  50%, 100% { opacity: 0 }
}

.flex { display: flex; }
.mr { margin-right: 1em;
}


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -3;
}

.subheading {font-family: var(--font-family-primary);
font-style: italic;
  font-size: 16px; 
  position: relative;
  bottom: 75px;
  z-index: -1;
  padding-top: 20px;
 
}

.linkbutton{
                    outline: 0;
                    grid-gap: 8px;
                    align-items: center;
                    background-color: #428cac;
                    color: #000;
                    border: 1px solid #000;
                    border-radius: 4px;
                    cursor: pointer;
                    display: inline-flex;
                    flex-shrink: 0;
                    font-size: 16px;
                    gap: 8px;
                    justify-content: center;
                    line-height: 1.5;
                    overflow: hidden;
                    padding: 12px 16px;
                    text-decoration: none;
                    text-overflow: ellipsis;
                    transition: all .14s ease-out;
                    white-space: nowrap;
                    :hover {
                        box-shadow: 4px 4px 0 #000;
                        transform: translate(-4px,-4px);
                    }
                    :focus-visible{
                        outline-offset: 1px;
                    }
                }
.cta {
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  font-family: var(--font-family-secondary)
    ;
  
}

.welcome { 
  font-size: 18px;
  font-family: var(--font-family-secondary)
    ;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: var(--font-family-primary);
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 14px;
  background-color: #f4f4f4;
  align-items: start;
  min-height: 100vh;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: var(--font-family-secondary);
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
	flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}
.linkbutton {font-family: var(--font-family-primary);
;}




   

   



   
